.header-container {
  background-color: purple;
  height: 70px;
  padding: 11px;
}

.header-logo {
  height: 35px;
  background-color: #ff7f7f;
  float: left;
}

.login-button {
  float: right;
  cursor: pointer;
}
